@page "/disasterCards"
@using ThunderbirdsBoardGameEngine.UI.Features.DisasterCards.Components

<h4>Select a Disaster Card</h4>

<DisasterCardSelector 
    DisasterCards="_cards"
    SelectedDisasterCardCode="_selectedCardCode"
    SelectedDisasterCardCodeChanged="OnDisasterCardChanged" />

@if (_selectedCard is not null)
{
    <DisasterCardDetails 
        Card="_selectedCard"
        Characters="_characters"
        SelectedBonusKeys="_selectedBonusKeys"
        SelectedCharacterCode="_selectedCharacter"
        BonusChanged="OnBonusToggled"
        CalculationResult="_calculationResult"
        CalculationFailed="_calculationFailed"
        IsCalculationDisabled="IsCalculateDisabled"
        CalculateClicked="CalculateRescueTarget"
        SelectedCharacterCodeChanged="OnCharacterChanged"
        FabCardModifiers="_fabCardModifiers"
        EventCardModifiers="_eventCardModifiers"
        FabCardsChanged="OnFabCardChanged"
        EventCardsChanged="OnEventCardChanged" />        
}
