@page "/select"
@using ThunderbirdsBoardGameEngine.GameData.Api.Messages.Dtos.V1
@using ThunderbirdsBoardGameEngine.UI.Interfaces
@inject IDisasterCardService DisasterCardService
@inject NavigationManager Navigation

<h3>Select a Disaster Card</h3>

@if (cards == null)
{
    <p>Loading cards...</p>
}
else
{
    <select class="form-select" @onchange="OnCardSelected">
        <option value="">-- Select a card --</option>
        @foreach (var card in cards)
        {
            <option value="@card.Id">@card.Name</option>
        }
    </select>
}

@code {
    private IReadOnlyList<DisasterCardDto>? cards;

    protected override async Task OnInitializedAsync()
    {
        cards = await DisasterCardService.GetAllAsync();
    }

    private void OnCardSelected(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var cardId))
        {
            Navigation.NavigateTo($"/disaster/{cardId}");
        }
    }
}
