@page "/movement"

<h3>Movement</h3>

<label for="movementSelect" class="form-label">Thunderbird</label>
<select id="movementSelect"
        class="form-select"
        @bind-Value="ThunderbirdCode"
        @bind-Value:event="onchange">
    <option value="">-- Select a Thunderbird --</option>
    @foreach (var t in _mobileThunderbirds)
    {
        <option value="@t.Key">@t.DisplayName</option>
    }
</select>

@if (!string.IsNullOrEmpty(ThunderbirdCode))
{
    <label for="startLocation" class="form-label">Start Location</label>
    <select id="startLocation"
            class="form-select"
            @bind-Value="StartLocationCode"
            @bind-Value:event="onchange">
        <option value="">-- Select a Start Location --</option>
        @foreach (var l in _movementLocations)
        {
            <option value="@l.Key">@l.DisplayName</option>
        }
    </select>
}